
{% extends 'admin/base_site.html' %}

{% load static %}

<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>

<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
<script type="text/javascript" src="{% static 'script/source.js' %}"></script>
{% block extrahead %}
<link rel="shortcut icon" type="image/x-icon" href="{% static 'image/favicon.png' %}">
{{ block.super }}
  {% block extrastyle %}
<style>
:root {
  --primary: #9774d5;
  --secondary: #785cab;
  --link-fg: #7c449b;
  --link-selected-fg: #8f5bb2;
}
#site-name:after {
	content: "Holmon Alp Site";
}

</style>
  {% endblock extrastyle %}
{% endblock %}
</head>

{% block content %}

{% endblock content %}		